
body {
  font-family: 'Roboto';
  font-weight: 400;
}

.wrapper {
    min-height: calc(100vh - 320px);
}



/*----------- NAVBAR 1 ------------------*/
.nav-font1{
    font-size: 30px;
    color: #333333;
    transition: all 0.3s;
    font-weight: 400;
    letter-spacing: 1px;
    font-weight: 500;
}
.nav-font1:hover{
    font-size: 30px;
    color: #3498DB;
    transition: all 0.3s;
    text-decoration: none;
}
.nav-font2{
    font-size: 30px;
    color: #333333;
    text-align:right;
    transition: all 0.3s;
}
.nav-font3{
    font-size: 25px;
    color: #333333;
}
.nav-font4{
    font-size: 22px;
    color: white;
    transition: all 0.3s;
    letter-spacing: 2px;
}
.nav-font4:hover{
    font-size: 22px;
    color: #85C1E9;
    letter-spacing: 2px;
    transition: all 0.3s;
}
.nav-font5{
    font-size: 22px;
    color: white;
    transition: all 0.3s;
    padding-top:25px;
    padding-left: 7px;
    letter-spacing: 2px;
}
.nav-overlay-image{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 136px;
}
.nav-image-full{
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin-left: -44px;
}
.nav-bg{
    background-image: url('../../assets/images/logo/Nav Payong.png');
    background-size: cover;
    height: 181px;
}
.nav-p-t{
    padding-top: 30px;
}
.nav-p-t2{
    padding-top: 60px;
}
.nav-hamburger{
    color: black;
    background: white;
    width: 50px;
    height: 50px;
    font-size: 30px;
}
.nav-padding-1{
    padding-left: 300px;
    padding-right: 300px;
}
.nav-position-a{
    position: absolute;
    margin-left: -12px;
}
.nav-position-r{
    position: relative;
    margin-top: 35px;
}
/*----------- END NAVBAR 1 --------------*/


/*----------- FOOTER ----------------------*/
.footer-font{
    font-size: 15px;
    color: #fff;
}
.footer-bg{
    background-color: #1b81ad;
}
/*----------- END FOOTER --------------------*/



/*-----------------------------------
-------------- HOME -----------------
-------------------------------------*/
.home-bg{
    background-image: url(../../assets/images/logo/bg.jpg);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #30777b;
    background-blend-mode: multiply;
}
.home-card{
    background-color: black;
    padding: 10px;
}
.b-n{
    border: none;
}
.home-font{
    font-size: 25px;
    color: white;
    letter-spacing: 2px;
    font-weight: 400;
}
.home-font:hover{
    font-size: 25px;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: 400;
}
.home-overlay-image{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 37px;
}
.home-image-full{
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.home-overlay-image2{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 405px;
}
.home-image-full2 {
    position: absolute;
    display: block;
    width: 100%;
    top: 12%;
    left: 20%;
    transform: translate(-50%, -50%);
    position: absolute;
    transform: scale(1.5);
    transition: all 0.5s;
}
.home-image-full2:hover{
    position: absolute;
    display: block;
    width: 100%;
    top: 12%;
    left: 20%;
    transform: translate(-50%, -50%);
    position: absolute;
    transform: scale(1.5);
    -ms-transform: scale(1.7); /* IE 9 */
    -webkit-transform: scale(1.7); /* Safari 3-8 */
    transform: scale(1.7);
    transition: all 0.5s;
    opacity: 0.9;
}
.home-padding{
    padding: 0px;
}
.home-p-t{
    padding-top: 50px;
}
.home-btn{
    background-color: #031f25;
    width: 350px;
    height: 70px;
    border-radius: 0px;
    color: white;
    border: 5px ;
    transition: all 0.3s;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 400;
}
.home-btn:hover{
    background-color: #1c3c6f;
    width: 350px;
    height: 70px;
    border-radius: 0px;
    color: white;
    border: 5px;
    transition: all 0.3s;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 400;
}
/*-------------------------------------
------------- END HOME ----------------
---------------------------------------*/

/*-------------------------------------
--------------- ABOUT ----------------
---------------------------------------*/
.about-overlay-image{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 735px;
}
.about-image-full{
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
/*-------------------------------------
------------- END ABOUT ----------------
---------------------------------------*/

/*-------------------------------------
---------------- PAY ----------------
---------------------------------------*/
.pay-font{
    font-size: 30px;
    color: #333333;
    letter-spacing: 1px;
    font-weight: 500;
}
.pay-font2{
    font-size: 18px;
    color: #333333;
}
.pay-font3{
    font-size: 22px;
    color: #333333;
    font-weight: 500;
}
.pay-font4{
    font-size: 15px;
    color: #333333;
}
.pay-font5{
    font-size: 18px;
    color: #333333;
    margin-top: 9px;
    margin-left: 43px;
    position: absolute;
}
.pay-font6{
    font-size: 18px;
    color: #333333;
    margin-top: 9px;
    margin-left: 54px;
    position: absolute;
}
.pay-font7{
    font-size: 14px;
    color: #aeafae;
}
.pay-m-t{
    margin-top: 30px;
}
.pay-form{
    width: 100%;
    height: 45px;
    border-radius: 0px;
    border: 1px solid #1e3d70;
    font-size: 20px;
    font-weight: 300;
}
.pay-ok{
    font-size: 25px;
    color: #76c764;
    padding-top:51px;
}
.pay-ok2{
    font-size: 25px;
    color: #76c764;
    padding-top:77px;
}
.pay-selected {
    border: 1px solid #1e3d70;
    border-radius: 0px;
    background: #fff url(../../assets/images/logo/down.png) no-repeat right 15px center;
    background-size: 20px;
    -webkit-appearance: none!important;
    padding: 5px 12px!important;
    width: 100%;
    height: 45px;
    font-size: 20px;
    font-weight: 300;
}
.pay-selected2{
    border: 1px solid #1e3d70;
    border-radius: 0px;
    background: #fff url(../../assets/images/logo/down.png) no-repeat right 15px center;
    background-size: 15px;
    -webkit-appearance: none!important;
    padding: 5px 12px!important;
    width: 100%;
    height: 45px;
    font-size: 15px;
    font-weight: 300;
}
.pay-select{
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pay-select input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px;
    background-color: #fff;
    border-radius: 50%;
    border:2px solid #1e3d70;
}
.pay-select input:checked ~ .checkmark {
    background-color: #fff;
    border :2px solid #1e3d70;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.pay-select input:checked ~ .checkmark:after {
    display: block;
}
.pay-select .checkmark:after {
    top: 3px;
    left: 3px;
    padding: 5px;
    border-radius: 50%;
    background-color: #1e3d70;
}
.pay-overlay-image{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 70px;
}
.pay-image-full{
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.pay-btn{
    background-color: #1e3d70;
    color: white;
    width: 170px;
    height: 50px;
    font-size: 18px;
    margin-top: 10px;
    transition: all 0.3s;
    font-weight: 400;
    letter-spacing: 1px;
}
.pay-btn:hover{
    background-color: #fff;
    border: 2px solid #1e3d70;
    color: #1e3d70;
    width: 170px;
    height: 50px;
    font-size: 18px;
    margin-top: 10px;
    transition: all 0.3s;
    font-weight: 400;
    letter-spacing: 1px;
}
.paycon-btn{
    background-color: #1e3d70;
    color: white;
    width: 200px;
    height: 55px;
    font-size: 18px;
    margin-top: 10px;
    transition: all 0.3s;
    font-weight: 400;
    letter-spacing: 1px;
}
.paycon-btn:hover{
    background-color: #fff;
    border: 2px solid #1e3d70;
    color: #1e3d70;
    width: 200px;
    height: 55px;
    font-size: 18px;
    margin-top: 10px;
    transition: all 0.3s;
    font-weight: 400;
    letter-spacing: 1px;
}
/*-------------------------------------
------------- END PAY ----------------
---------------------------------------*/


/*--------------------------------------
-----------------pay-confirm------------
---------------------------------------*/



/*--------------------------------------
-----------------pay-confirm------------
---------------------------------------*/







@media(max-width: 1366px){
  /*----------- NAVBAR (1366)------------------*/
  .nav-padding-1 {
      padding-left: 40px;
      padding-right: 40px;
  }
  .nav-position-r {
      position: relative;
      margin-top: 65px;
  }
  .nav-position-a {
      position: absolute;
      margin-left: -13px;
  }
  /*----------END NAVBAR (1366)------------*/


  /*---------- FOOTER (1366)------------*/

  /*----------END FOOTER (1366)------------*/
}


@media(max-width: 1024px){

  /*----------- NAVBAR (1024)------------------*/
  .nav-overlay-image {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 95px;
  }
  .nav-image-full {
      position: absolute;
      display: block;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      margin-left: -37px;
  }
  .nav-position-a {
      position: absolute;
      margin-left: -5px;
  }
  .nav-position-r {
      position: relative;
      margin-top: 25px;
  }
  .nav-p-t2 {
      padding-top: 30px;
  }
  /*----------- END NAVBAR (1024) ------------------*/


  /*----------- FOOTER (1024) ----------------*/

  /*----------- END FOOTER (1024) -------------*/

  /*------------------------------------
  ----------- ABOUT 1024 ----------------
  ---------------------------------------*/
  .about-overlay-image {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 626px;
  }
  /*------------------------------------
  ---------- END ABOUT 1024 --------------
  ---------------------------------------*/

  /*-------------------------------------
  ------------- HOME 1024 ----------------
  ---------------------------------------*/
  .home-font {
      font-size: 23px;
      color: white;
      letter-spacing: 2px;
      font-weight: 300;
  }
  .home-overlay-image2 {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 351px;
  }
  /*-------------------------------------
  ----------- END HOME 1024 ------------
  ---------------------------------------*/
}



@media(max-width: 768px){
  /*----------- NAVBAR (768) ------------------*/
  .nav-font1 {
      font-size: 22px;
      color: #333333;
      transition: all 0.3s;
      font-weight: 500;
  }
  .nav-font1:hover {
      font-size: 22px;
      color: #3498DB;
      transition: all 0.3s;
      text-decoration: none;
  }
  .nav-font3{
      font-size: 20px;
      color: #333333;
  }
  .nav-font5 {
      font-size: 22px;
      color: white;
      transition: all 0.3s;
      padding-top: 8px;
      padding-left: 0px;
  }
  .nav-overlay-image {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 73px;
  }
  .nav-p-t2 {
      padding-top: 20px;
  }
  .nav-bg2{
      background-color: #054372;
      padding: 10px;
      margin-top: 34px;
      transition: all 0.5s;
  }
  .nav-m-t {
      margin-top: 5px;
  }
  .nav-image-full {
      position: absolut©e;
      display: block;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      margin-left: -31px;
  }
  .nav-position-r {
      position: relative;
      margin-top: 5px;
  }
  .nav-hamburger {
      color: white;
      border: 2px solid white;
      background-color: inherit;
      width: 40px;
      height: 40px;
      font-size: 16px;
  }
  /*----------- END NAVBAR (768) ------------*/


  /*----------- FOOTER (768) ----------------*/

  /*----------- END FOOTER (768) -------------*/

  /*-------------------------------------
  ------------- HOME 768 ----------------
  ---------------------------------------*/
  .home-overlay-image2 {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 368px;
  }
  .home-btn {
      background-color: #031f25;
      width: 300px;
      height: 60px;
      border-radius: 0px;
      color: white;
      border: 5px;
      transition: all 0.3s;
      box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
      font-size: 25px;
      letter-spacing: 2px;
      font-weight: 400;
  }
  .home-btn:hover {
      background-color: #1c3c6f;
      width: 300px;
      height: 60px;
      border-radius: 0px;
      color: white;
      border: 5px;
      transition: all 0.3s;
      box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
      font-size: 25px;
      letter-spacing: 2px;
      font-weight: 400;
  }
  .home-overlay-image {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 34px;
  }
  /*------------------------------------
  ---------- END HOME 768 --------------
  ---------------------------------------*/

  /*------------------------------------
  ----------- ABOUT 768 ----------------
  ---------------------------------------*/
  .about-overlay-image {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 459px;
  }
  /*------------------------------------
  ---------- END ABOUT 768 --------------
  ---------------------------------------*/

  /*-------------------------------------
  ------------- PAY 768 ----------------
  ---------------------------------------*/
  .pay-font3 {
      font-size: 19px;
      color: #333333;
  }
  .pay-font7 {
      font-size: 13px;
      color: #aeafae;
  }
  .pay-ok {
      font-size: 25px;
      color: #76c764;
      padding-top: 46px;
  }
  .pay-ok2 {
      font-size: 25px;
      color: #76c764;
      padding-top: 67px;
  }
  .pay-selected2 {
      border: 1px solid #1e3d70;
      border-radius: 0px;
      background: #fff url(../../assets/images/logo/down.png) no-repeat right 6px center;
      background-size: 15px;
      -webkit-appearance: none!important;
      padding: 5px 13px!important;
      width: 100%;
      height: 45px;
      font-size: 15px;
  }
  /*-------------------------------------
  -------------END PAY 768 ----------------
  ---------------------------------------*/

  /*--------------------------------------
  -----------------pay-confirm------------
  ---------------------------------------*/
  .pay-con-font-top{
    font-size: 19px;
  }

  .pay-con-font-top-1{
    font-size: 16px;
  }



  /*--------------------------------------
  -----------------pay-confirm------------
  ---------------------------------------*/

}


@media(max-width: 414px){
  /*----------- NAVBAR (414) ------------------*/
  .nav-font1 {
      font-size: 16px;
      color: #333333;
      transition: all 0.3s;
      font-weight: 500;
  }
  .nav-font1:hover{
      font-size: 16px;
      color: #3498DB;
      transition: all 0.3s;
      text-decoration: none;
      font-weight: 500;
  }
  .nav-font2 {
      font-size: 20px;
      color: #333333;
      text-align: right;
      transition: all 0.3s;
  }
  .nav-font3 {
      font-size: 14px;
      color: #333333;
  }
  .nav-font4 {
      font-size: 16px;
      color: white;
      transition: all 0.3s;
  }
  .nav-font5 {
      font-size: 14px;
      color: white;
      transition: all 0.3s;
      padding-top: 43px;
      padding-left: 0px;
      letter-spacing: 2px;
      font-weight: 300;
  }
  .nav-overlay-image {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 48px;
  }
  .nav-p-lr{
      padding-left: 0px;
      padding-right: 0px;
  }
  .nav-bg {
      background-image: url(../../assets/images/logo/Nav Payong.png);
      background-size: cover;
      height: 172px;
  }
  .nav-p-t2 {
      padding-top: 10px;
  }
  .nav-image-full {
      position: absolute;
      display: block;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      margin-left: -15px;
  }
  .nav-padding-1 {
      padding-left: 20px;
      padding-right: 20px;
  }
  .nav-position-a {
      position: absolute;
      margin-left: -4px;
  }
  .nav-position-r {
      position: relative;
      margin-top: 8px;
  }
  .nav-bg2 {
      background-color: #054372;
      padding: 10px;
      margin-top: -35px;
      transition: all 0.5s;
  }
  /*----------- END NAVBAR (414) ---------------*/

  /*----------- FOOTER (414) ----------------*/
  .footer-font {
      font-size: 13px;
      color: #fff;
  }
  /*----------- END FOOTER (414) -------------*/

  /*------------------------------------
  ----------- ABOUT 414 ----------------
  ---------------------------------------*/
  .about-overlay-image {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 257px;
  }
  /*------------------------------------
  ---------- END ABOUT 414 --------------
  ---------------------------------------*/


  /*------------------------------------
  -------------  HOME 414 --------------
  ---------------------------------------*/
  .home-overlay-image2 {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 364px;
  }
  .home-overlay-image {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 34px;
  }
  .home-btn {
      background-color: #031f25;
      width: 100%;
      height: 50px;
      border-radius: 0px;
      color: white;
      border: 5px;
      transition: all 0.3s;
      box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
      font-size: 22px;
      letter-spacing: 2px;
      font-weight: 400;
  }
  .home-btn:hover {
      background-color: #1c3c6f;
      width: 100%;
      height: 50px;
      border-radius: 0px;
      color: white;
      border: 5px;
      transition: all 0.3s;
      box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
      font-size: 22px;
      letter-spacing: 2px;
      font-weight: 400;
  }
  /*------------------------------------
  ---------- END HOME 414 --------------
  ---------------------------------------*/
  /*------------------------------------
  ---------- PAY 414 --------------
  ---------------------------------------*/
  .pay-font{
      font-size: 22px;
      color: #333333;
  }
  .pay-font2 {
      font-size: 14px;
      color: #333333;
  }
  .pay-font3 {
      font-size: 16px;
      color: #333333;
  }
  .pay-font4 {
      font-size: 13px;
      color: #333333;
  }
  .pay-font5 {
      font-size: 15px;
      color: #333333;
      margin-top: -2px;
      margin-left: 34px;
      position: absolute;
  }
  .pay-font6 {
      font-size: 15px;
      color: #333333;
      margin-top: -2px;
      margin-left: 34px;
      position: absolute;
  }
  .pay-font7 {
      font-size: 12px;
      color: #aeafae;
      margin-top: 25px;
  }
  .pay-ok {
      font-size: 25px;
      color: #76c764;
      padding-top: 42px;
  }
  .pay-ok2 {
      font-size: 25px;
      color: #76c764;
      padding-top: 58px;
  }
  .pay-selected {
      border: 1px solid #1e3d70;
      border-radius: 0px;
      background: #fff url(../../assets/images/logo/down.png) no-repeat right 15px center;
      background-size: 20px;
      -webkit-appearance: none!important;
      padding: 5px 10px!important;
      width: 100%;
      height: 45px;
      font-size: 15px;
  }
  .pay-overlay-image {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 105px;
  }
  .pay-form {
      width: 100%;
      height: 45px;
      border-radius: 0px;
      border: 1px solid #1e3d70;
      font-size: 15px;
  }
  /*------------------------------------
  ---------- END PAY 414 --------------
  ---------------------------------------*/
  /*--------------------------------------
  -----------------pay-confirm------------
  ---------------------------------------*/
  .pay-con-font-top{
    font-size: 11px;
  }

  .pay-con-font-top-1{
    font-size: 10px;
  }



  /*--------------------------------------
  -----------------pay-confirm------------
  ---------------------------------------*/


}


@media(max-width: 375px){
  /*----------- NAVBAR (375) ------------------*/
  .nav-font3 {
      font-size: 13px;
      color: #333333;
  }
  .nav-font5 {
      font-size: 13px;
      color: white;
      transition: all 0.3s;
      padding-top: 30px;
      padding-left: 0px;
      letter-spacing: 1.5px;
      font-weight: 300;
  }
  .nav-overlay-image {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 44px;
  }
  .nav-hamburger {
      color: white;
      border: 2px solid white;
      background-color: inherit;
      width: 40px;
      height: 40px;
      font-size: 16px;
  }
  .nav-bg {
      background-image: url(../../assets/images/logo/Nav Payong.png);
      background-size: cover;
      height: 153px;
  }
  .nav-bg2 {
      background-color: #094979;
      padding: 10px;
      margin-top: -31px;
      transition: all 0.5s;
  }
  .nav-p-t2 {
      padding-top: 10px;
  }
  .nav-padding-1 {
      padding-left: 20px;
      padding-right: 20px;
  }
  .nav-position-a {
      position: absolute;
      margin-left: -3px;
  }
  .nav-position-r {
      position: relative;
      margin-top: 2px;
  }
  /*----------- END NAVBAR (375) ------------*/

  /*----------- FOOTER (375) ----------------*/
  .footer-font {
      font-size: 12px;
      color: #fff;
  }
  /*----------- END FOOTER (375) ------------*/

  /*------------------------------------
  ----------- ABOUT 375 ----------------
  ---------------------------------------*/
  .about-overlay-image {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 230px;
  }
  /*------------------------------------
  ---------- END ABOUT 375 --------------
  ---------------------------------------*/

  /*------------------------------------
  -------------  HOME 375 --------------
  ---------------------------------------*/
  .home-font {
      font-size: 21px;
      color: white;
  }
  .home-overlay-image2 {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 326px;
  }
  .home-overlay-image {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 31px;
  }
  /*------------------------------------
  ---------- END HOME 375 --------------
  ---------------------------------------*/
}


@media (max-width: 320px ){
  /*----------- NAVBAR (320) ---------------*/
  .nav-font1 {
      font-size: 14px;
      color: #333333;
      transition: all 0.3s;
      font-weight: 500;
  }
  .nav-font1:hover {
      font-size: 14px;
      color: #3498DB;
      transition: all 0.3s;
      text-decoration: none;
      font-weight: 500;
  }
  .nav-font3 {
      font-size: 11px;
      color: #333333;
  }
  .nav-font4 {
      font-size: 14px;
      color: white;
      transition: all 0.3s;
  }
  .nav-font5 {
      font-size: 10px;
      color: white;
      transition: all 0.3s;
      padding-top: 32px;
      padding-left: 0px;
  }
  .nav-overlay-image {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 36px;
  }
  .nav-bg {
      background-image: url(../../assets/images/logo/Nav Payong.png);
      background-size: cover;
      height: 153px;
  }
  .nav-p-t2 {
      padding-top: 6px;
  }
  .nav-bg2 {
      background-color: #094979;
      padding: 10px;
      margin-top: -28px;
      transition: all 0.5s;
  }
  .nav-image-full {
      position: absolute;
      display: block;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      margin-left: -9px;
  }
  .nav-position-a {
      position: absolute;
      margin-left: -5px;
  }
  .nav-hamburger {
      color: white;
      border: 2px solid white;
      background-color: inherit;
      width: 40px;
      height: 40px;
      font-size: 15px;
  }
  /*----------- END NAVBAR (320) ------------*/

  /*--------- FOOTER (320) ------------*/
  .footer-font {
      font-size: 10px;
      color: #fff;
  }
  /*--------- END FOOTER (320) ---------*/

  /*------------------------------------
  ----------- ABOUT 320 ----------------
  ---------------------------------------*/
  .about-overlay-image {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 194px;
  }
  /*------------------------------------
  ---------- END ABOUT 320 --------------
  ---------------------------------------*/

  /*------------------------------------
  ----------  HOME 320 -----------------
  ---------------------------------------*/
  .home-font {
      font-size: 16px;
      color: white;
  }
  .home-overlay-image2 {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 273px;
  }
  .home-overlay-image {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 24px;
  }
  .home-btn {
      background-color: #031f25;
      width: 100%;
      height: 50px;
      border-radius: 0px;
      color: white;
      border: 5px;
      transition: all 0.3s;
      box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: 400;
  }
  .home-btn:hover {
      background-color: #1c3c6f;
      width: 100%;
      height: 50px;
      border-radius: 0px;
      color: white;
      border: 5px;
      transition: all 0.3s;
      box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: 400;
  }
  /*------------------------------------
  ---------- END HOME 320 --------------
  ---------------------------------------*/

  /*------------------------------------
  ------------ PAY 320 -----------------
  ---------------------------------------*/
  .pay-font {
      font-size: 18px;
      color: #333333;
  }
  .pay-font2 {
      font-size: 11px;
      color: #333333;
  }
  .pay-font3 {
      font-size: 14px;
      color: #333333;
  }
  .pay-font7 {
      font-size: 11px;
      color: #aeafae;
      margin-top: 25px;
  }
  .pay-form {
      width: 100%;
      height: 45px;
      border-radius: 0px;
      border: 1px solid #1e3d70;
      font-size: 14px;
  }
  .pay-selected {
      border: 1px solid #1e3d70;
      border-radius: 0px;
      background: #fff url(../../assets/images/logo/down.png) no-repeat right 15px center;
      background-size: 20px;
      -webkit-appearance: none!important;
      padding: 5px 10px!important;
      width: 100%;
      height: 45px;
      font-size: 14px;
  }
  .pay-selected2 {
      border: 1px solid #1e3d70;
      border-radius: 0px;
      background: #fff url(../../assets/images/logo/down.png) no-repeat right 6px center;
      background-size: 15px;
      -webkit-appearance: none!important;
      padding: 5px 13px!important;
      width: 100%;
      height: 45px;
      font-size: 14px;
  }
  .pay-btn {
      background-color: #1e3d70;
      color: white;
      width: 170px;
      height: 50px;
      font-size: 16px;
      margin-top: 10px;
      transition: all 0.3s;
      font-weight: 400;
      letter-spacing: 1px;
  }
  .pay-btn:hover {
      background-color: #fff;
      border: 2px solid #1e3d70;
      color: #1e3d70;
      width: 170px;
      height: 50px;
      font-size: 18px;
      margin-top: 10px;
      transition: all 0.3s;
      font-weight: 400;
      letter-spacing: 1px;
  }
  /*------------------------------------
  ----------- END PAY 320 ---------------
  ---------------------------------------*/
}
